*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
    background-color: #333;
    width: 100%;
    position: fixed;
    top: 0;
}

#logo{
    color: azure;
}

.menu{
    display: flex;
    gap: 25px;
}

.menu, a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    transition: .5s;
}

main section{
    padding-top: 120px;
    min-height: 100vh;
    text-align: center;
}

#projetos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkcyan;
}

.projeto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    height: 300px;
    width: 25%;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
}

.main{
    color: #fff;
    text-decoration: none;
    padding: 20px;
    background-color: #0055ff;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    transition: .5s;
}

.main :hover{
    color: #0055ff;
    background-color: #fff;
}

#contato{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90vw;
}

.form-contato{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

input, textarea{
    width: 100%;
    padding: 12px, 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 16px;
}

textarea{
    height: 150px;
    resize: none;
}

.form-contato button{
    padding: 12px, 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

footer{
    height: 80px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#verMais{
    color: #0055ff;
}